.attribution {
  margin: 1vh;
  margin-bottom: 4vh;
}

.text {
  font-family: 'Helvetica', sans-serif;
  padding: 1em;
  text-align: center;
}

#title {
  margin: auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

h3 {
}

a {
  text-decoration: none;
}